/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: 
        linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 133, 0.8)
        ), 
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;

    /* 
        clip path es para decirle que porcion de imagen es visible, 
        acepta un objeto polygon, el cual tiene las coordenadas de la
        figura que se desea dibujar, en este caso es un cuadrado pero 
        con el border derecho inferior recortado.
        las coordenadas van en el orden de las manecillas del reloj
        en este caso:
        (0 0) -> x: 0, y:0
        (0 0) -> x: 100%, y:0
        (0 0) -> x: 100%, y: 80%
        (0 0) -> x: 0, y: 100%
    */
    /* 
        pagina para generar estas figuras geometricas:
        https://bennettfeely.com/clippy/ 
    */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}